# Flutter 필수 파일들 제외
!lib/
!pubspec.yaml
!pubspec.lock

# 제외할 모든 폴더와 파일들
*
**/*
!lib/**

# Android 관련 파일 제외
android/
!android/app/src/main/AndroidManifest.xml

# iOS 관련 파일 제외
ios/
!ios/Runner/Info.plist

# 기타 설정 파일 제외
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
build/
.idea/
.vscode/
